<h2>Este é o componente-B</h2>
<p>Depois de feita a conexão de A para B, B passou a ter a seguinte cor em sua composição: {{ corDeA }}</p><br>
<label for="Bcolor">Informe o nome da cor de B: </label>
<input type="text" name="" id="Bcolor" [(ngModel)]="corDeB">
<!--Após criado o input da cor de B, aplicar two=way-data-binding através de ngModel para que B tenha seu atributo preenchido dinamicamente com algum valor, valor esse que já será passado para A pela conexão feita anteriormente em componete-A.html
Agora seguir para componete-A.ts para acompanhar a criação do método que resultará em um alert com as duas cores de A ao clicar no botão-->
<!--Abaixo agora será feita a implementação do botão final-->
<button type="button" (click)="mostrarPaleta.emit(corDeA + ' e ' + corDeB)">Paleta final</button>
